// Generated using xcconfig-extractor 0.6.1 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
#include "Base.xcconfig"
DEBUG_INFORMATION_FORMAT = dwarf
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
ENABLE_TESTABILITY = YES
ONLY_ACTIVE_ARCH = YES
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
GCC_DYNAMIC_NO_PIC = NO
SWIFT_OPTIMIZATION_LEVEL = -Onone
GCC_OPTIMIZATION_LEVEL = 0
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE

